project_structure:
    build: build
    contracts: contracts
    interfaces: interfaces
    reports: reports
    scripts: scripts
    tests: tests

networks:
    default: development
    development:
        gas_limit: max
        gas_buffer: 1
        gas_price: 200000000
        reverting_tx_gas_limit: max
        default_contract_owner: true
        cmd_settings:
            unlock:
                - 0xf3cCc271b2735075c292968d2922898a17E44cdE
                - 0x01136881f010206120874A0fBD01EDccd200E515
 
    integration:
        gas_limit: max
        gas_buffer: 1.1
        gas_price: auto
        reverting_tx_gas_limit: false
        default_contract_owner: false
    live:
        gas_limit: auto
        gas_buffer: 1.1
        gas_price: auto
        reverting_tx_gas_limit: false
        default_contract_owner: false

compiler:
    evm_version: null
    solc:
        version: 0.8.3
        optimizer:
            enabled: true
            runs: 1000
        remappings: null
    vyper:
        version: null

console:
    show_colors: true
    color_style: monokai
    auto_suggest: true
    completions: true
    editing_mode: emacs

reports:
    exclude_paths: null
    exclude_contracts: null
    only_include_project: False

hypothesis:
    deadline: null
    max_examples: 50
    report_multiple_bugs: False
    stateful_step_count: 10
    phases:
        explicit: true
        reuse: true
        generate: true
        target: true
        shrink: true

autofetch_sources: true
dependencies: null
dev_deployment_artifacts: false
